@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    font-family: 'Rubik', sans-serif;
}

.gif{
     width: 70vw;
     height: 70vh;
     margin: 1rem auto;
}

.container{
     margin: 4rem auto;
}

.container a{
     color: #000;
     font-size: 2rem;
     text-decoration: none;
}

.container h1{
     font-family: 'Pacifico', cursive;
     text-align: center;
     color: coral;
     font-size: 5rem;
}

ul{
     font-size: 1.2rem;
     list-style-type: circle;
     width: fit-content;
}

ul span{
     color: #000;
}

ul li{
     width: fit-content;
     color: red;
     transition: all 200ms ease-in-out;
     font-size: 2.2rem;
}

ul li:hover,
ul li span:hover{
     color: rgb(6, 105, 129);
     transform: scale(1.2);
}