@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    font-family: 'Rubik', sans-serif;
}

.uppercase{
     text-transform: uppercase;
}

.landing{
     width: 100%;
     min-height: 100vh;
     background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F5281437.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}

.title{
     background: whitesmoke;
     padding: 3rem 5rem;
     width: 60%;
     text-align: center;
     display: inline-block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     border-radius: 8px;
     font-size: 4rem;
     font-family: 'Dancing Script', cursive;
     box-shadow:
               11.6px 11.1px 5.6px rgba(0, 0, 0, 0.032),
               23.9px 22.7px 15.4px rgba(0, 0, 0, 0.041),
               42.8px 40.7px 37.1px rgba(0, 0, 0, 0.049),
               105px 100px 123px rgba(0, 0, 0, 0.07)
;
}

.desc{
     background: black;
     padding: 5rem 1rem;
     margin: 2rem 1rem;
     font-size: 1.7rem;
     font-family: 'Red Hat Mono', monospace;
     color: whitesmoke;
     width: 80%;
     margin: 5rem auto;
     border: 1px solid lightcoral;
     text-align: center;
}

.timer{
     margin: 1rem 2rem;
}

ul{
     list-style: none;
     list-style-type: '\1F32E';
}

ul > li{
     color: red;
     font-size: 1.5rem;
}

ul > li span{
     color: black;
     font-size: 1.5rem;
     color: rgb(99, 98, 98);
}

.heading{
     background: rgb(2, 72, 90);
     color: #fff;
     font-size: 4rem;
     text-align: center;
     margin: 2rem 6rem;
     padding: 2rem 1rem;
     font-family: 'Pacifico', cursive;
}

.largercheckBox{
     width: 1.4rem;
     aspect-ratio: 1 / 1;
}

.form{
     margin: .5rem 2rem;
     font-size: 1.4rem;
}

.step{
     width: 70%;
}

ol li{
     color: red;
     font-size: 1.5rem;
}

ol li span{
     color: #000;
     font-size: 1.2rem;
     line-height: 1.6;
}

.returner a{
     position: absolute;
     font-size: 1.5rem;
     color: rgb(95, 95, 95);
     text-decoration: none;
     margin: 1rem 4rem;
     transition: color 100ms ease,
               transform 500ms ease;
     right: 0%;
}

.returner a:hover{
     transform: scale(1.2);
     color: rgb(2, 72, 90);
}

.checked{
     text-decoration: line-through;
}